[Desktop Entry]
Type=Application
Exec=/usr/local/bin/adaptive-powerd-user
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Adaptive Power User Daemon
Comment=Tracks GNOME idle state
